
  .logo{
    
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: width 2s;
}
.mini{
  width: 140px;
}
.max{
  width: 250px;
}


.hide{
  height: 0;
  margin-left: -400px;
  visibility: hidden;
    
     
}
.show{
 
  height: 100%;
  
  visibility: visible;
  margin-left: 0;
    
}

.nav{
  
  z-index: 25;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: height 2s;
  left: 0;
  margin-right: auto;
  text-align: left;
}
.bar{
  text-align: center;
  background-color: rgba($color: #ffffff, $alpha: 1);
  border-bottom-right-radius: 50px;
left: 0;;
  top: 0;
  bottom: 0;

}
.options{
margin-bottom: -20px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
 
}

.range{
  width:300px;
  transition: width 2s;
 
}
.date{
  width: 120px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

p{ 
  margin-top: 0;
  margin-bottom: 0;
}