<div class="cont">
  <div class="btn-n">
    <button mat-fab>
      <mat-icon aria-hidden="false" (click)=" myPosition()" aria-label="Example home icon">gps_fixed</mat-icon>
    </button>
  </div>
  <div class="btn-n">
    <button mat-fab>
      <mat-icon aria-hidden="false" (click)=" zoomInLocal()" aria-label="Example home icon">zoom_in</mat-icon>
    </button>
  </div>
  <div class="btn-n">
    <button mat-fab>
      <mat-icon aria-hidden="false" (click)=" zoomOutLocal()" aria-label="Example home icon">zoom_out</mat-icon>
    </button>
  </div>
  <div *ngIf="flaga" class="btn-n">
    <button mat-fab>
      <mat-icon aria-hidden="false" (click)=" logoutLocal()" aria-label="Example home icon">settings_power</mat-icon>
    </button>
  </div>
</div>