.icon{
    height:  40px;
    margin-left: 20px;
}
.info-text{
    color: #4d4d4dff;
   
}
hr{
    background-color:rgb(150, 150, 150);
    color: rgb(150, 150, 150);
}

div.info-center {
    margin-top: 10px;
    height: 40px;
    position: relative }
div.info-center span {
    margin: 0;
    position: absolute;
    top: 50%;
    }
    .title{
        position: absolute;
        top:0;
        color: white;
        left: 0;  
        margin: 40px;
    }
  

    div.info-center span.c2 {

       right:0;
       margin-right: 10px;
  
      }
      
    div.info-center span.c1 {

        left:0%;
        margin-left: 115px;
       }