<mat-nav-list>
  <!-- <a   mat-list-item >
  <span mat-line>ADSADSADSADSAD</span>
  <span mat-line>ADSADSADSADSAD</span>
  <span mat-line>ADSADSADSADSAD</span>
</a> -->
<div style=" max-width: 550px;">
  <div class="title">
    <mat-icon style="font-size: 80px;">{{emot}}</mat-icon>
    <h1  class="mat-h1" style="margin-left: 60px;">{{text}}</h1>
    <h3>odczytano {{days}} dni i {{time}} godziny temu</h3>
  </div>
<img style=" max-width: 100%; height: auto;"  [src]="tlo">
</div>
  <div >
  

    
    <p class="mat-h2 info-text" style="margin-left: 10px;">PYŁY</p>
    <hr>
    <div mat-list-item class="info-center">
      <img src="../../../../assets/img/pm10.png" class="icon">
      <span class="mat-h2 info-text c1">PM10</span>
      <span class="mat-h2 info-text c2">{{data.marker.pm10}} µg/m³</span></div>

    <div mat-list-item class="info-center">
      <img src="../../../../assets/img/pm25.png" class="icon">
      <span class="mat-h2 info-text c1">PM2,5</span>
      <span class="mat-h2 info-text c2">{{data.marker.pm25}} µg/m³</span></div>

    <div mat-list-item class="info-center">
      <img src="../../../../assets/img/pm1.png" class="icon">
      <span class="mat-h2 info-text c1">PM1</span>
      <span class="mat-h2 info-text c2">{{data.marker.pm1}} µg/m³</span></div>
    <p class="mat-h2 info-text" style="margin-left: 10px; margin-top: 15px;">DANE POGODOWE</p>
    <hr>
    <div mat-list-item class="info-center">
      <img src="../../../../assets/img/temp.png" class="icon">
      <span class="mat-h2 info-text c1">Temperatura</span>
      <span class="mat-h2 info-text c2">{{data.marker.temperature}} °C</span></div>
    <div mat-list-item class="info-center">
      <img src="../../../../assets/img/press.png" class="icon">
      <span class="mat-h2 info-text c1">Cisnienie</span>
      <span class="mat-h2 info-text c2">{{data.marker.pressure}} hPa</span></div>
    <div mat-list-item class="info-center">
      <img src="../../../../assets/img/hum.png" class="icon">
      <span class="mat-h2 info-text c1">Wilgotność</span>
      <span class="mat-h2 info-text c2">{{data.marker.humidity}} %</span></div>
    <p class="mat-h2 info-text" style="margin-left: 10px; margin-top: 15px;">GAZY</p>
    <hr>
  </div>
</mat-nav-list>